@font-face {
    font-family: Open-Sans;
    src: url(../font/OpenSans-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: Open-Sans-itali;
    src: url(../font/OpenSans-Italic-VariableFont_wdth\,wght.ttf);
}
  

body{
    font-family: Open-Sans;
  max-width: 1600px;
  margin: 0 auto;

    
    
}
header{
    
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png);background-repeat: no-repeat;
    background-position: right bottom;
}
.bg-venetian-red{
    background-color: #FFF8F3;
}
.bg-btn{
    background-color: #FD6E0A;
}
.bg-white{
    background-color: #FFF;
}
.btn-border{
    border: 2px solid #FD6E0A;
}

.card-shadow{
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);


}

.text-philippine-orange{
    color: #FD6E0A;
}
.text-eerie-black{
    color: #181818;
}
.text-white{
    color: #FFFFFF;
}
.text-45{
    font-size: 2.813rem;
}
.font-sm{
    font-weight: 400;
}
.text-20{
    font-size: 1.1rem;
}
.text-25{
    font-size: 1.563rem;
}
.font-think{
    font-weight: 600;
}
.text-86{
    font-size: 5.375rem;
}
.font-bold{
    font-weight: 800;
}

nav{
    
    position: sticky;
    top: 0;
}
nav li  {
    list-style: none;
}
a{
    text-decoration: none;
}
.flex{
    display: flex;
}
.block{
    display: block;
}
.flex-col{
    flex-direction: column;
}
.content-between{
    justify-content: space-between;
}
.content-center{
    justify-content: center;
}
.itemes-center{
    justify-items: center;
}
.gap-2{
    gap: 2rem;
}

.gap-24{
    gap: 1.5rem;
}
.gap-16{
    gap: 1rem;
}
.p-135{
    padding: 1rem 8rem;
}
.p-130{
    padding: 8.125rem 14.375rem;
}

.p-4{
    padding: 0.7rem 2rem;
}
.p-3{
    padding: 0 2rem;
}


.p-30{
    padding: 1.875rem;
}
.rounded{
    border-radius: 5px;
}
.btn-primary{
    min-width: 9.375rem;
    min-height: 4rem;
    padding: 0.75rem;
    border-radius: 0.313rem;
    font-weight: 700;
}
.banner-tex-area{
    background-image: url(../images/developer.png);
    background-repeat: no-repeat;
    background-size: 12%;
    
    
}
.py-4{
    padding: 9rem ;
}
.p-2{
    font-size: 2rem;
}

.w-50{
    width: 50%;
}
/* .banner-image-aria{
    margin-left: 3rem;
    
} */
.banner-image-aria img{
    width: 80%;

}

.text-center{
    text-align: center;
}

.font-seme-bold{
    font-weight: 700;
}
.mx-auto{
    margin: 0 auto;
}

.text-left{
    text-align: left;
}
.w-40{
    width: 70%;
}
.mh-auto{
    margin: auto 0;
}

/* About started here */
.text-35{
    font-size: 35px;
}
.text-30{
    font-size: 1.875rem;
}

.w-1140{
    max-width: 1140px;
    
}
.p-156{
    padding: 8.125rem 9.75rem;
}
.mt-135{
    margin-top:  8.125rem;
}
.mt-113{
    margin-top: 7rem;
}
.tex-sonic-silver{
    color: #757575;
}
.gap-50{
    gap: 3.125rem;
}
.gap-117{
    gap: 7rem;
}

.gap-30{
    gap: 1.875rem;
}
.gap-71{
    gap: 4.875rem;
}

.text-h-table{
    color: #474747;
}
.text-l-hight-30{
    line-height: 1.875rem;
}
.text-l-hight-28{
    line-height: 1.75rem;
}
.mt-30{
    margin-top: 1.875rem;
}
button{
    border: 0;
    padding: 10px;
}
/* About started here */

.grid-col-4{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.grid-col-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.soc-midia-icon li{
    list-style: none;
    text-decoration: none;
}

.mini-input{
    height: 1rem;
    width: 28.813rem;
    padding: 18px;
    pointer-events: none;
}
input::placeholder{
    color: #757575;
}
textarea{
    width: 28.813rem;
    height: 11.25rem ;
    padding: 18px;
    resize: none;
    /* pointer-events: none; */
}

.submit-btn{
    width: 150px;
height: 64px;

}

button{
    cursor: pointer;
}