/* .bg-light-gray{
    background-color: lightslategray;
    
}


body{
    max-width: 1500px;
    margin: 0 auto;
} */
/* common  class style here */
/* .mt-40{
    margin-top: 40px;
}
.w-hulf{
    width: 50%;
}
.text-56{
    font-size: 56px;
}

.mh-auto{ */
    /* padding: 25%  0; */
    /* margin: auto 0;
}
.mx-auto{
    margin: 0 auto;
}

.w-500{
    max-width: 500px;
}
.w-1000{
    max-width: 1000px;
}
.text-center{
    text-align: center;
}

.btn-style{
    background-color: green;
    font-weight: 800;
    font-size: 18px;
    border-radius: 6px;
}

.text-white{
    color: white;
}

.web-logo{
    color: chartreuse;
    font-size: 25px;
    background-color: blueviolet;
    padding: 10px;
    border-radius: 5px;
    font-weight: 800;
} */

/* 
.min-h{
    min-height: 10px;
}

.flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.content-between{
    justify-content: space-between;
}
.content-around{
    justify-content: space-around;
}
.content-evenly{
    justify-content: space-evenly;
}
.content-center{
    justify-content: center;
}

.items-center{
    justify-items: center;
}
.gap-20{
    gap: 20px;
}

.list-style-none{
    list-style: none;
}

nav > ul > li{
    padding: 5px;
    border-radius: 5px;
    font-weight: 800;
}

nav > ul > li:hover{
    color: slateblue;
    
    background-color: lightskyblue;
    padding: 5px;
    border-radius: 5px;
    font-weight: 800;
}

.position-relative{
    position: relative;
    
}

.left-25{
    left: -35px;
} */

/* Header Style here  */
/* header{
    padding-bottom: 0;
    background: rgba(229, 84, 115, 0.1);
} */

/* .header-img > img{
    width: 80%;
    margin-top: 15%;
    /* padding-bottom: 0; */
}

/* .header-text{
    padding: 0 8%; */ */
    /* padding-bottom: 0; */

/* } */

/*  flower card Style */
/* .flower-card-area{

}
.card-image{
    min-width: 350px;
    min-height: 400px; */
    /* background-color: lightgreen; */
    /* border-radius: 50% 50% 0 0 ;
}
.card-img-1{
    background: rgba(167, 33, 98, 0.15);

}
.card-img-2{
    background: rgba(5, 151, 160, 0.15);


}
.card-img-3{
    background: rgba(71, 125, 17, 0.15);


} */
